*{
    font-family: 'Shippori Mincho', serif;
    
}
.photo{
    width: 130px;
    border-radius: 20px;
}
.Examples {
    display: flex;
    align-items:center;
    margin-left: 5%;  
}
header{
    border-radius: 2%;
    display: flex;
    margin: 30px;
    gap: 10px;
    align-items: center;
    flex-direction:column;
    
}

section{
    display: block;
    padding: 10px;
    margin-left: 15%;
    padding-left: 0px;
}

p {
    margin-left: 5%;
}

ul {
    padding: 0px;
}
li {
    margin-left: 5%;
    padding: 0px;
    border-spacing: 0px;
    list-style-type: none;
}

hr {
    display: block;
    width: 70%;
} 
footer {
    margin-top: 30px;
    margin-right: 15%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}
.logo{
    width: 150px;
    border-radius: 20px;
    
}
